img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px  rgb(100, 99, 99);
}

h1 {
    color: black;
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
  }